services:
  app:
    build: .
    command: [ "fastapi", "dev", "--host", "0.0.0.0", "--port", "8000", "main.py" ]
    develop:
      watch:
        - action: rebuild
          path: requirements.txt
        - action: sync
          path: .
          target: /project/
    environment:
      CELERY_BROKER_URL: redis://redis:6379/0
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/sandbox
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis

  worker:
    build: .
    command: celery --app worker.celery worker --loglevel=info
    develop:
      watch:
        - action: rebuild
          path: requirements.txt
        - action: sync
          path: .
          target: /project/
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    depends_on:
      - postgres
      - redis

  redis:
    image: redis:latest

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: sandbox
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
