version: 2.1

orbs:
  docker: circleci/docker@2.8.1
  python: circleci/python@3.0.0

executors:
  python:
    docker:
      - image: cimg/python:3.13

jobs:
  deploy:
    executor:
      name: docker/machine
      dlc: true
    parameters:
      image:
        type: string
        default: $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME
      tag:
        type: string
        default: latest
    steps:
      - checkout
      - docker/check
      - docker/build:
          image: << parameters.image >>
          tag: << parameters.tag >>
          use-buildkit: true
      - docker/push:
          image: << parameters.image >>
          tag: << parameters.tag >>
      - run: curl $DEPLOY_URL

  black:
    executor: python
    steps:
      - checkout
      - python/install-packages
      - run: black --check app

  isort:
    executor: python
    steps:
      - checkout
      - python/install-packages
      - run: isort app/**/*.py -c

  mypy:
    executor: python
    steps:
      - checkout
      - python/install-packages
      - run: mypy app --junit-xml=tmp/results.xml
      - store_test_results:
          path: tmp/results.xml

  pytest:
    executor: python
    steps:
      - checkout
      - python/install-packages
      - run: pytest app  --junit-xml=tmp/results.xml
      - store_test_results:
          path: tmp/results.xml

workflows:
  version: 2.1
  build:
    jobs:
      - black
      - isort
      - mypy
      - pytest
      - deploy:
          requires:
            - black
            - isort
            - mypy
            - pytest
          filters:
            branches:
              only: main
